/*
.root {
     -fx-background-image: url('images/SantoriniBoard.png');
     -fx-background-size: cover;
 }*/
.root2 {
    -fx-background-image: url('images/loginbackground.png');
    -fx-background-size: cover;
}
